<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spotify.android.appremote.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.stepdetector" android:required="true"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="false"
        android:exported="true"
        android:icon="@drawable/ic__logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            //@xml/provider_paths is the file name of the external_file
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                />


        </provider>
        <activity
            android:name="com.spotify.sdk.demo.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.spotify.sdk.demo.activity.SetOrChangeInfo"
            android:exported="false"
            android:screenOrientation="portrait" >
        <meta-data
        android:name="android.app.lib_name"
        android:value="" />
        </activity>

        <activity
            android:name="com.spotify.sdk.demo.activity.CameraActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spotify.sdk.demo.activity.RemotePlayerActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spotify.sdk.demo.activity.MyRemotePlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spotify.sdk.demo.activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.spotify.sdk.demo.StepPerMinServices"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait">

        </service>
    </application>

</manifest>